{% sw_extends '@Storefront/storefront/component/listing/filter/filter-range.html.twig' %}

{% block component_filter_range %}
    {% set filterRangeOptions = {
        name,
        minKey,
        maxKey,
        lowerBound,
        unit,
        propertyName,
        minInputValue,
        maxInputValue,
        shouldExtend: context.context.extensions.nostoService.enabled,
        snippets: {
            filterRangeActiveMinLabel,
            filterRangeActiveMaxLabel,
            filterRangeErrorMessage,
            filterRangeLowerBoundErrorMessage
        }
    } %}

    {{ parent() }}
{% endblock %}

{% block component_filter_range_container %}
    {{ parent() }}

    {% if context.context.extensions.nostoService.enabled %}
        <div class="nosto--range-slider"></div>
    {% endif %}
{% endblock %}
