{% block nosto_integration_customer_tagging %}

    {% set isSendCustomerData = config('NostoIntegration.config.customerDataToNosto') %}

    {% if isSendCustomerData and context.customer %}
        {% set customer = nosto_customer(context.customer, context.context) %}

        {% if customer %}
            <div class="nosto_customer" style="display:none">
                <span class="email">{{ customer.email }}</span>
                <span class="first_name">{{ customer.firstName }}</span>
                <span class="last_name">{{ customer.lastName }}</span>
                <span class="customer_reference">{{ customer.customerReference }}</span>
                <span class="marketing_permission">{% if customer.marketingPermission %}true{% else %}false{% endif %}</span>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
