{% block sw_cms_block_nosto_integration_preview %}
    <div class="sw-cms-preview-nosto-integration nosto-integration-sidebar-preview-container">
        <nosto-plugin-settings-icon :size="'128'"></nosto-plugin-settings-icon>
    </div>
{% endblock %}
