{% block sw_cms_block_od_nosto_preview %}
    <div class="sw-cms-preview-od od-sidebar-preview-container">
        <nosto-plugin-settings-icon :size="'128'"></nosto-plugin-settings-icon>
    </div>
{% endblock %}
