{% block sw_cms_block_nosto_integration %}
    <div class="sw-cms-block-nosto-integration">
        <slot name="nosto_integration">{% block sw_cms_block_nosto_integration_nosto_slot %}{% endblock %}</slot>
    </div>
{% endblock %}
