{% sw_extends '@Storefront/storefront/base.html.twig' %}

{# Adding Nosto tagging #}
{% block base_body_script %}

    {{ parent() }}

    {# Nosto tagging #}
    {% block od_nosto_integration_tagging %}

        {% set type = od_nosto_page_type(activeRoute, page.cmsPage.type) %}

        {% block od_nosto_integration_tagging_global %}
            {% sw_include '@OdNostoIntegration/storefront/component/nosto-integration/page-tagging.html.twig' with {
                type: type
            } %}
        {% endblock %}

        {% block od_nosto_integration_tagging_advanced %}
            {% sw_include '@OdNostoIntegration/storefront/component/nosto-integration/'~type~'-tagging.html.twig' ignore missing %}
        {% endblock %}

    {% endblock %}

    {# Nosto connect script #}
    {% block od_nosto_integration_connect_script %}
        {% set configurationOptions = {
            'accountID': config('NostoIntegration.settings.accounts.accountID'),
            'initializeAfter':  config('NostoIntegration.settings.afterIteration')
        } %}
        <div hidden data-nosto-configuration="true" data-nosto-configuration-options="{{ configurationOptions|json_encode }}"></div>
    {% endblock %}
{% endblock %}
