{% sw_extends '@Storefront/storefront/base.html.twig' %}

{# Adding Nosto tagging #}
{% block base_body_script %}

    {{ parent() }}

    {# Nosto tagging #}
    {% block nosto_integration_integration_tagging %}

        {% set type = nosto_page_type(activeRoute, page.cmsPage.type) %}

        {% block nosto_integration_tagging_global %}
            {% sw_include '@NostoIntegration/storefront/component/nosto-integration/page-tagging.html.twig' with {
                type: type
            } %}
        {% endblock %}

        {% block nosto_integration_tagging_advanced %}
            {% sw_include '@NostoIntegration/storefront/component/nosto-integration/'~type~'-tagging.html.twig' ignore missing %}
        {% endblock %}

    {% endblock %}

    {# Nosto connect script #}
    {% block nosto_integration_connect_script %}
        {% set configurationOptions = {
            'accountID': config('NostoIntegration.config.accountID'),
            'initializeAfter':  config('NostoIntegration.config.isInitializeNostoAfterInteraction'),
            'reloadRecommendations': config('NostoIntegration.config.reloadRecommendations')
        } %}
        <div hidden data-nosto-configuration="true" data-nosto-configuration-options="{{ configurationOptions|json_encode }}"></div>
    {% endblock %}

    {% block nosto_integration_search_session_params %}
        <div hidden data-nosto-search-session-params="true"></div>
    {% endblock %}

    {% if page.header.extensions.nostoPageInformation.isSearchPage || page.header.extensions.nostoPageInformation.isNavigationPage %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/12.0.0/nouislider.min.css" integrity="sha512-kSH0IqtUh1LRE0tlO8dWN7rbmdy5cqApopY6ABJ4U99HeKulW6iKG5KgrVfofEXQOYtdQGFjj2N/DUBnj3CNmQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/12.0.0/nouislider.min.js" integrity="sha512-6vo59lZMHB6GgEySnojEnfhnugP7LR4qm6akxptNOw/KW+i9o9MK4Gaia8f/eJATjAzCkgN3CWlIHWbVi2twpg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endif %}
{% endblock %}
