{% block nosto_integration_content_card_channel_config_accounts_card %}
    <div>
        <sw-card
            class="sw-card--grid is-general-settings"
            :title="$tc('nosto.configuration.general.title')"
            positionIdentifier="nosto-integration-settings-general"
        >
            {% block nosto_integration_setting_deferred_init %}
                <sw-inherit-wrapper
                    v-model:value="actualConfigData['isInitializeNostoAfterInteraction']"
                    :inheritedValue="configKey === null ? null : allConfigs['null']['isInitializeNostoAfterInteraction']"
                >
                    <template #content="props">
                        <sw-switch-field
                            :label="$tc('nosto.configuration.general.deferredInit.label')"
                            :map-inheritance="props"
                            :disabled="props.isInherited"
                            :value="props.currentValue"
                            :helpText="$tc('nosto.configuration.general.deferredInit.helpText')"
                            @update:value="props.updateCurrentValue"
                        />
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block nosto_integration_setting_sales_channel_domain %}
                <sw-entity-single-select
                    v-if="configKey !== null"
                    :label="$tc('nosto.configuration.general.domain.label')"
                    :help-text="$tc('nosto.configuration.general.domain.helpText')"
                    labelProperty="url"
                    valueProperty="id"
                    :criteria="domainCriteria"
                    show-clearable-button
                    entity="sales_channel_domain"
                    v-model:value="actualConfigData['domain']"
                />
            {% endblock %}
        </sw-card>

        <sw-card
            class="sw-card--grid"
            :title="$tc('nosto.configuration.tagAssignment.title')"
            positionIdentifier="nosto-integration-settings-tags"
        >
            {% block nosto_integration_settings_custom_fields %}
                <sw-inherit-wrapper
                    v-model:value="actualConfigData['selectedCustomFields']"
                    :inheritedValue="configKey === null ? null : allConfigs['null']['selectedCustomFields']"
                    :label="$tc('nosto.configuration.tagAssignment.selectedCustomFieldsTitle')"
                    :help-text="$tc('nosto.configuration.tagAssignment.selectedCustomFieldsHelpText')"
                >
                    <template #content="props">
                        <sw-multi-select
                            name="selectedCustomFields"
                            labelProperty="label"
                            valueProperty="id"
                            :options="productCustomFields"
                            :isInherited="props.isInherited"
                            :disabled="props.isInherited"
                            :value="props.currentValue"
                            @update:value="props.updateCurrentValue"
                        />
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block nosto_integration_settings_tag_1 %}
                <sw-inherit-wrapper
                    v-model:value="actualConfigData['tag1']"
                    :inheritedValue="configKey === null ? null : allConfigs['null']['tag1']"
                    :label="$tc('nosto.configuration.tagAssignment.tag1title')"
                >
                    <template #content="props">
                        <sw-multi-select
                            name="tag1"
                            labelProperty="label"
                            valueProperty="id"
                            :options="productTags"
                            :isInherited="props.isInherited"
                            :disabled="props.isInherited"
                            :value="props.currentValue"
                            @update:value="props.updateCurrentValue"
                        />
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block nosto_integration_settings_tag_2 %}
                <sw-inherit-wrapper
                    v-model:value="actualConfigData['tag2']"
                    :inheritedValue="configKey === null ? null : allConfigs['null']['tag2']"
                    :label="$tc('nosto.configuration.tagAssignment.tag2title')"
                >
                    <template #content="props">
                        <sw-multi-select
                            name="tag2"
                            labelProperty="label"
                            valueProperty="id"
                            :options="productTags"
                            :isInherited="props.isInherited"
                            :disabled="props.isInherited"
                            :value="props.currentValue"
                            @update:value="props.updateCurrentValue"
                        />
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block nosto_integration_settings_tag_3 %}
                <sw-inherit-wrapper
                    v-model:value="actualConfigData['tag3']"
                    :inheritedValue="configKey === null ? null : allConfigs['null']['tag3']"
                    :label="$tc('nosto.configuration.tagAssignment.tag3title')"
                >
                    <template #content="props">
                        <sw-multi-select
                            name="tag3"
                            labelProperty="label"
                            valueProperty="id"
                            :options="productTags"
                            :isInherited="props.isInherited"
                            :disabled="props.isInherited"
                            :value="props.currentValue"
                            @update:value="props.updateCurrentValue"
                        />
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block nosto_integration_settings_tag_google_category %}
                <sw-inherit-wrapper
                    v-model:value="actualConfigData['googleCategory']"
                    :inheritedValue="configKey === null ? null : allConfigs['null']['googleCategory']"
                    :label="$tc('nosto.configuration.tagAssignment.googleCategoryTitle')"
                    :help-text="$tc('nosto.configuration.tagAssignment.googleCategoryHelpText')"
                >
                    <template #content="props">
                        <sw-single-select
                            name="googleCategory"
                            labelProperty="label"
                            valueProperty="id"
                            :options="productCustomFields"
                            :isInherited="props.isInherited"
                            :disabled="props.isInherited"
                            show-clearable-button
                            :value="props.currentValue"
                            @update:value="props.updateCurrentValue"
                        />
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}
        </sw-card>
    </div>
{% endblock %}
