{% block sw_product_variants_delivery_variant_mode_selection %}
    <sw-radio-field
        class="sw-product-variants-delivery-listing_variant-selection"
        :value="getInitialVariantMode()"
        :options="mainVariantModeOptions"
        :disabled="isDisabledListingMode('single')"
        {% if VUE3 %}
            @update:value="updateVariantMode"
        {% else %}
            @change="updateVariantMode"
        {% endif %}
    />
{% endblock %}

{% block sw_product_variants_delivery_listing_config_single_main_variant_explanation %}
    <div class="sw-product-variants-delivery-listing__option-explanation">
        <p v-if="product.variantListingConfig.displayParent">
            {{ $tc('sw-product.variations.deliveryModal.listingExplanationModeMainProduct') }}
        </p>
        <p v-else-if="product.variantListingConfig.displayCheapestVariant">
            {{ $tc('sw-product.variations.deliveryModal.listingExplanationModeMainProduct') }}
        </p>
        <p v-else>
            {{ $tc('sw-product.variations.deliveryModal.listingExplanationModeSingle') }}
        </p>
    </div>
{% endblock %}
