{% block nosto_integration %}
    <sw-page class="nosto-integration-settings">
        {% block nostointegration_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    {{ $tc('nosto.configuration.title') }}
                </h2>
            </template>
        {% endblock %}
        {% block nosto_integration_actions %}
            <template #smart-bar-actions>
                {% block nosto_integration_actions_save %}
                    <sw-button-process v-model="isSaveSuccessful"
                                       class="sw-settings-login-registration__save-action"
                                       variant="primary"
                                       :isLoading="isLoading"
                                       :disabled="isLoading"
                                       @click="onSave">
                        {{ $tc('global.default.save') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block nosto_integration_content %}
            <template #content>
                {% block nosto_integration_content_card %}
                    {% block nosto_integration_content_card_channel_config %}
                        <sw-sales-channel-config v-model="config"
                                                 ref="configComponent"
                                                 domain="NostoIntegration.config">
                            {% block nosto_integration_content_card_channel_config_sales_channel %}
                                <template #select="{ onInput, selectedSalesChannelId }">
                                    {% block nosto_integration_content_card_channel_config_sales_channel_card %}
                                        <sw-card class="sw-card--grid channel-card-container"
                                                 :title="$tc('global.entities.sales_channel', 2)">
                                            {% block nosto_integration_content_card_channel_config_sales_channel_card_title %}
                                                <sw-single-select v-model="selectedSalesChannelId"
                                                                  labelProperty="translated.name"
                                                                  valueProperty="id"
                                                                  :isLoading="isLoading"
                                                                  :options="salesChannels"
                                                                  @change="onInput">
                                                </sw-single-select>
                                            {% endblock %}
                                        </sw-card>
                                    {% endblock %}
                                </template>
                            {% endblock %}

                            {% block noto_integration_content_card_configs %}
                                <template #content="{ actualConfigData, allConfigs, selectedSalesChannelId }">
                                    <div v-if="actualConfigData">

                                        {% block noto_integration_content_card_account_general %}
                                            <nosto-integration-account-general
                                                    :actualConfigData="actualConfigData"
                                                    :allConfigs="allConfigs"
                                                    :errorStates="errorStates"
                                                    :selectedSalesChannelId="selectedSalesChannelId">
                                            </nosto-integration-account-general>
                                        {% endblock %}

                                        {% block noto_integration_content_card_tags_general %}
                                            <nosto-integration-settings-general
                                                    :actualConfigData="actualConfigData"
                                                    :allConfigs="allConfigs"
                                                    :selectedSalesChannelId="selectedSalesChannelId">
                                            </nosto-integration-settings-general>
                                        {% endblock %}

                                        {% block noto_integration_content_card_features_flags %}
                                            <nosto-integration-features-flags
                                                    :actualConfigData="actualConfigData"
                                                    :allConfigs="allConfigs"
                                                    :selectedSalesChannelId="selectedSalesChannelId">
                                            </nosto-integration-features-flags>
                                        {% endblock %}
                                    </div>
                                </template>
                            {% endblock %}
                        </sw-sales-channel-config>
                    {% endblock %}
                    {% block styla_cmsintegration_content_card_loading %}
                        <sw-loader v-if="isLoading"></sw-loader>
                    {% endblock %}
                {% endblock %}
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
