{% block nosto_integration %}
    <sw-page class="nosto-integration-settings">
        {% block nostointegration_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="regular-chevron-right-xs" small></sw-icon>
                    {{ $tc('nosto.configuration.title') }}
                </h2>
            </template>
        {% endblock %}
        {% block nosto_integration_actions %}
            <template #smart-bar-actions>
                {% block nosto_integration_actions_save %}
                    <sw-button-process
                        v-model="isSaveSuccessful"
                        variant="primary"
                        :isLoading="salesChannelsLoading || configsLoading || saving"
                        :disabled="salesChannelsLoading || configsLoading || saving"
                        @click="onSave"
                    >
                        {{ $tc('global.default.save') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block nosto_integration_content %}
            <template #content>
                {% block nosto_integration_content_card %}
                    {% block nosto_integration_content_card_channel_config %}
                        <sw-card-view>
                            {% block nosto_integration_content_card_channel_config_sales_channel %}
                                <sw-card
                                    :title="$tc('global.entities.sales_channel', 2)"
                                    positionIdentifier="nosto_settings"
                                >
                                    {% block nosto_integration_content_card_channel_config_sales_channel_selection %}
                                        <sw-single-select
                                            v-model="selectedSalesChannelId"
                                            :options="salesChannels"
                                            labelProperty="translated.name"
                                            valueProperty="id"
                                            :isLoading="salesChannelsLoading || configsLoading"
                                            :disabled="salesChannelsLoading || configsLoading"
                                        />

                                        <sw-single-select
                                            v-model="selectedLanguageId"
                                            :options="languages"
                                            labelProperty="name"
                                            valueProperty="id"
                                            :placeholder="$tc('nosto.selectSalesChannel')"
                                            :isLoading="salesChannelsLoading || configsLoading"
                                            :disabled="!selectedSalesChannelId"
                                        />
                                    {% endblock %}
                                </sw-card>
                            {% endblock %}

                            {% block nosto_integration_content_card_configs_old %}
                                <div v-if="Object.keys(allConfigs).length">
                                    {% block nosto_integration_content_card_account_general %}
                                        <nosto-integration-account-general
                                            :actualConfigData="actualConfigData"
                                            :allConfigs="allConfigs"
                                            :errorStates="errorStates"
                                            :selectedSalesChannelId="selectedSalesChannelId"
                                            :selectedLanguageId="selectedLanguageId"
                                            :configKey="configKey"
                                        />
                                    {% endblock %}

                                    {% block nosto_integration_content_card_search_general %}
                                        <nosto-integration-search-general
                                            :actualConfigData="actualConfigData"
                                            :allConfigs="allConfigs"
                                            :errorStates="errorStates"
                                            :configKey="configKey"
                                        />
                                    {% endblock %}

                                    {% block nosto_integration_content_card_tags_general %}
                                        <nosto-integration-settings-general
                                            :actualConfigData="actualConfigData"
                                            :allConfigs="allConfigs"
                                            :selectedSalesChannelId="selectedSalesChannelId"
                                            :selectedLanguageId="selectedLanguageId"
                                            :configKey="configKey"
                                        />
                                    {% endblock %}

                                    {% block nosto_integration_content_card_features_flags %}
                                        <nosto-integration-features-flags
                                            :actualConfigData="actualConfigData"
                                            :allConfigs="allConfigs"
                                            :configKey="configKey"
                                        />
                                    {% endblock %}
                                </div>
                                <sw-loader
                                    v-else
                                    class="nosto-config-loader"
                                    size="50px"
                                />
                            {% endblock %}
                        </sw-card-view>
                    {% endblock %}
                {% endblock %}
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
