.nosto-integration-settings {
    .nosto-integration-account-card {
        .validate-btn {
            margin-bottom: 10px;
        }
    }

    .sw-card.sw-card--grid  {
        .sw-card__content {
            padding: 20px 30px 20px 30px;
        }
    }

    .sw-card__content {
        padding-bottom: 0;
    }

    .sw-field--switch {
        margin: 0;
    }

    .nosto-config-loader {
        position: unset;
        height: 50px;
    }
}
