.sw-cms-block-od-nosto-block {
    .sw-cms-slot-od_nosto {
        .od-preview-container {
            & {
                padding: 20px;
                margin: 15px auto 0;
            }

            & p{
                float: right;
                line-height: 60px;
            }
        }
    }
}
