.sw-cms-block-nosto-integration {
    .sw-cms-slot-nosto_integration {
        .nosto-integration-preview-container {
            padding: 10px;
            margin: 0 auto;
            display: flex;
            align-items: center;

            .nosto-integration-settings-icon {
                img {
                    display: block;
                }
            }
        }
    }
}
