{% block sw_cms_element_nosto_integration_custom_manufacturer_component %}
    <div class="sw-cms-preview-nosto-integration nosto-integration-preview-container">
        <nosto-plugin-settings-icon :size="'64'"></nosto-plugin-settings-icon>
        <p>{{ $tc('sw-cms.detail.preview.elementLabel') }}: <b>{{ this.labelPreview }}</b></p>
    </div>
{% endblock %}
