{% block sw_cms_el_config_od_nosto %}
    <div class="sw-cms-el-config-od-nosto">
        <sw-text-field
                label="Element ID"
                v-model="element.config.nostoElementID.value">
        </sw-text-field>
    </div>
{% endblock %}
