{% block nosto_integration_account_component_general %}
    <sw-card
        :title="$tc('nosto.configuration.account.title')"
        class="nosto-integration-account-card"
        positionIdentifier="nosto-integration-account-general"
    >
        <template v-if="configKey">
            {% block nosto_integration_account_enabled %}
                <sw-switch-field
                    v-model="actualConfigData['isEnabled']"
                    :label="$tc('nosto.configuration.account.enabledTitle')"
                    :help-text="$tc('nosto.configuration.account.enabledHelpText')"
                />
            {% endblock %}

            {% block nosto_integration_account_api_validate %}
                <sw-button-process
                    variant="ghost"
                    class="validate-btn"
                    :isLoading="apiValidationInProgress"
                    :processSuccess="false"
                    @click="validateApiCredentials"
                >
                    {{ $tc('nosto.configuration.account.apiValidation.buttonLabel') }}
                </sw-button-process>
            {% endblock %}

            {% block nosto_integration_account_id %}
                <sw-field
                    v-model="actualConfigData['accountID']"
                    :label="$tc('nosto.configuration.account.idTitle')"
                    :help-text="$tc('nosto.configuration.account.idHelpText')"
                    type="text"
                    :error="hasError(actualConfigData['accountID'])"
                    required
                    name="accountID"
                />
            {% endblock %}
            {% block nosto_integration_account_name %}
                <sw-field
                    v-model="actualConfigData['accountName']"
                    :label="$tc('nosto.configuration.account.nameTitle')"
                    :help-text="$tc('nosto.configuration.account.nameHelpText')"
                    type="text"
                    :error="hasError(actualConfigData['accountName'])"
                    required
                    name="accountName"
                    @input="updateCurrentValue($event, props)"
                />
            {% endblock %}
            {% block nosto_integration_account_token %}
                <sw-field
                    v-model="actualConfigData['productToken']"
                    :label="$tc('nosto.configuration.account.productTokenTitle')"
                    :help-text="$tc('nosto.configuration.account.productTokenHelpText')"
                    type="password"
                    required
                    :error="hasError(actualConfigData['productToken'])"
                    name="productToken"
                />
                <sw-field
                    v-model="actualConfigData['emailToken']"
                    :label="$tc('nosto.configuration.account.emailTokenTitle')"
                    :help-text="$tc('nosto.configuration.account.emailTokenHelpText')"
                    type="password"
                    :error="hasError(actualConfigData['emailToken'])"
                    required
                    name="emailToken"
                />
                <sw-field
                    v-model="actualConfigData['appToken']"
                    :label="$tc('nosto.configuration.account.appTokenTitle')"
                    :help-text="$tc('nosto.configuration.account.appTokenHelpText')"
                    type="password"
                    :error="hasError(actualConfigData['appToken'])"
                    required
                    name="appToken"
                />
                <sw-field
                    v-model="actualConfigData['searchToken']"
                    :label="$tc('nosto.configuration.account.searchTokenTitle')"
                    :help-text="$tc('nosto.configuration.account.searchTokenHelpText')"
                    type="password"
                    :error="hasError(actualConfigData['searchToken'])"
                    required
                    name="searchToken"
                />
            {% endblock %}

            {% block nosto_listing_sending %}
                <sw-button
                    variant="ghost"
                    class="validate-btn"
                    @click="onTrackCategories"
                >
                    {{ $tc('nosto.configuration.account.apiValidation.sendCategoriesLabel') }}
                </sw-button>
            {% endblock %}
        </template>
        <template v-else>
            <h6>{{ $tc('nosto.selectSalesChannelAndLanguage') }}</h6>
        </template>
    </sw-card>
{% endblock %}
