{% sw_extends '@Storefront/storefront/component/listing/filter-panel.html.twig' %}

{% block component_filter_panel_items_container %}
    {% if page.listing.criteria.extensions.nostoFilters.filters %}
        {% set filters = page.listing.criteria.extensions.nostoFilters.filters %}
    {% elseif not (slot.data.listing.criteria.extensions.nostoFilters.filters) %}
        {% set filters = page.searchResult.criteria.extensions.nostoFilters.filters %}
    {% else %}
        {% set filters = slot.data.listing.criteria.extensions.nostoFilters.filters %}
    {% endif %}

    <div class="filter-panel-items-container">
        {% block component_filter_panel_item_test_filter %}
            {% if filters %}
                {% for filter in filters %}
                    {% if filter is instanceof("\\Nosto\\NostoIntegration\\Search\\Response\\GraphQL\\Filter\\LabelTextFilter") %}
                        {% sw_include '@Storefront/storefront/component/listing/filter/filter-property-select.html.twig' with {
                            elements: filter.values,
                            sidebar: sidebar,
                            name: filter.id,
                            displayName: filter.name,
                            displayType: 'text',
                            pluginSelector: 'filter-property-select',
                            propertyName: filter.name
                        } %}
                    {% endif %}

                    {% if filter is instanceof("\\Nosto\\NostoIntegration\\Search\\Response\\GraphQL\\Filter\\RangeSliderFilter") %}
                        {% sw_include '@Storefront/storefront/component/listing/filter/filter-range.html.twig' with {
                            sidebar: sidebar,
                            name: filter.id,
                            minKey: filter.minKey,
                            maxKey: filter.maxKey,
                            lowerBound: 0,
                            displayName: filter.name,
                            minInputValue: filter.min,
                            maxInputValue: filter.max,
                            propertyName: filter.name
                        } %}
                    {% endif %}

                    {% if filter is instanceof("\\Nosto\\NostoIntegration\\Search\\Response\\GraphQL\\Filter\\RatingFilter") %}
                        {% sw_include '@Storefront/storefront/component/listing/filter/filter-rating-select.html.twig' with {
                            elements: filter.values,
                            maxPoints: filter.maxPoints,
                            sidebar: sidebar,
                            name: filter.id,
                            hidden: filter.hidden,
                            displayName: filter.name,
                            pluginSelector: 'filter-rating-select',
                            propertyName: filter.name
                        } %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endblock %}

        {% if not filters %}
            {{ parent() }}
        {% endif %}
    </div>
{% endblock %}
