{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_wrapper_content %}
    {% if not (context.context.extensions.nostoService.enabled) %}
        {{ parent() }}
    {% else %}
        <div class="cms-element-product-listing">
            {% if searchResult.total > 0 %}
                {% block element_product_listing_pagination_nav_actions %}
                    {{ parent() }}
                {% endblock %}
            {% endif %}

            {% block element_product_listing_row %}
                {{ parent() }}

                {% if not (searchResult.criteria.extensions.nostoPagination) %}
                    {% set paginationTotal = searchResult.total %}
                    {% set paginationLimit = searchResult.limit %}
                {% else %}
                    {% set paginationTotal = searchResult.criteria.extensions.nostoPagination.total %}
                    {% set paginationLimit = searchResult.criteria.extensions.nostoPagination.limit %}
                {% endif %}

                {% set totalPages = (paginationTotal / paginationLimit)|round(0, 'ceil') %}
                {% if totalPages > 1 %}
                    {% block element_product_listing_pagination_nav_bottom %}
                        {{ parent() }}
                    {% endblock %}
                {% endif %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
